#main {
  background-color: rgb(59, 31, 198);
  height: 100px;
}
.container {
  background-color: rgb(59, 31, 198);
  height: 100px;
}
#main .container {
  background-color: rgb(59, 31, 198);
  height: 100px;
}
hello